@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
}

/* Globals */
h4 {
  font-size: 0.8rem;
}

ul {
  list-style-type: none;
}

.btn {
  width: 60%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.2rem;
  outline: none;
  border: none;
  margin: 0.2rem 0;
  text-transform: uppercase;
  font-size: bold;
  border-radius: 3px;
  cursor: pointer;
}

.delete-btn {
  display: none;
  background-color: red;
  color: var(--secondary-color);
  border: 0;
  border: 1px solid #111;
  outline: none;
  padding: 0.2rem;
  cursor: pointer;
}

header {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header p {
  font-size: 0.9rem;
}

header .btn {
  background-color: #fff;
  font-weight: bold;
  color: #000;
  margin-left: 0.3rem;
}

.login-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 760px;
  margin: 0.5rem auto;
}

.inc-exp-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid var(--primary-color);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 0.1rem;
}

.inc-exp-container div {
  text-align: center;
}

.inc-exp-container div:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  border-right: 1px solid var(--primary-color);
}

.inc-exp-container div p.plus {
  color: green;
}

.inc-exp-container div p.minus {
  color: red;
}

.charts {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
  text-align: center;
}

.charts div {
  width: 70%;
}

.charts div h4 {
  margin: 1rem 0;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.history {
  margin: 1rem 0;
}

.history .list li {
  cursor: pointer;
  width: 100%;
  position: relative;
  border: 1px solid var(--primary-color);
  margin: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.3rem 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.history .list li span {
  margin-right: 2rem;
}

.history .list li h4 {
  margin-left: 0.5rem;
}

.history .list li.minus {
  border-right: 4px solid #ff0000;
}

.history .list li.plus {
  border-right: 4px solid #008000;
}

.history .list li:hover .delete-btn {
  position: absolute;
  right: 2px;
  display: inline-block;
}

.new-transaction {
  margin: 1rem 0;
}

.new-transaction form .form-control {
  margin: 0.2rem 0;
  width: 100%;
}

.new-transaction form .form-control input {
  width: 80%;
  border: none;
  outline: none;
  padding: 0.2rem;
  border-radius: 2px;
  border: 1px solid var(--primary-color);
}

@media (max-width: 970px) {
  .charts div {
    width: 90%;
  }

  .container {
    max-width: 560px;
  }

  .history .list li {
    padding: 0.1rem 0;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 420px;
  }
}

@media (max-width: 570px) {
  .container {
    max-width: 360px;
  }

  .charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 510px) {
  .container {
    max-width: 300px;
  }
}
